<h1>Student Info</h1>

<%= render partial: 'student', locals: {student: @student} %>
<% @student.classrooms.each do |classroom| %>
    <%= render partial: 'classrooms/classroom', locals: {classroom: classroom} %>
<% end %>